In [3]:
import pandas as pd
about_player = pd.read_csv('./data/about_players/about_players.csv')
about_player

,Player,#,Class,Pos,Height,Weight,Hometown,High School,RSCI Top 100,Summary,seasonYear
0,D'Mitrik Trice,0.0,SR,G,6-0,184,"Huber Heights, OH",IMG Academy,NaN,"13.9 Pts, 3.4 Reb, 4.0 Ast",2021
1,Micah Potter,11.0,SR,F,6-10,248,"Mentor, OH",Mentor High School,NaN,"12.5 Pts, 5.9 Reb, 1.4 Ast",2021
2,Brad Davison,34.0,SR,G,6-4,202,"Maple Grove, MN",Maple Grove Senior High School,NaN,"10.0 Pts, 3.5 Reb, 2.4 Ast",2021
3,Aleem Ford,2.0,SR,F,6-8,217,"Lawrenceville, GA",IMG Academy,NaN,"8.7 Pts, 4.2 Reb, 1.1 Ast",2021
4,Nate Reuvers,35.0,SR,F,6-11,235,"Lakeville, MN",Lakeville North High School,68 (2017),"8.3 Pts, 3.3 Reb, 0.7 Ast",2021
...,...,...,...,...,...,...,...,...,...,...,...
88,Isaac Gard,15.0,JR,G,6-2,165,"Oregon, WI",Oregon (WI),NaN,"0.2 Pts, 0.2 Reb, 0.1 Ast",2025
89,Camren Hunter,3.0,JR,G,6-3,200,"Bryant, AR",Bryant HS,NaN,"0.3 Pts, 0.5 Reb, 0.1 Ast",2025
90,Daniel Freitag,5.0,FR,G,6-2,195,"Bloomington, MN",Breck (MN),NaN,"0.1 Pts, 0.3 Reb, 0.2 Ast",2025
91,Chris Hodges,21.0,JR,F,6-9,239,"Schaumburg, IL",Schaumburg HS,NaN,"0.1 Pts, 0.0 Reb, 0.0 Ast",2025
92,Aidan Konop,14.0,FR,G,6-2,195,"Sussex, WI",Sussex Hamilton (WI),NaN,"0.0 Pts, 0.0 Reb, 0.0 Ast",2025

In [5]:
each_game_player_stats = pd.read_csv('./data/each_game_stats/each_game_stats.csv')
each_game_player_stats

,Gtm,Date,Opp,Opp.1,Type,Rslt,Tm,Opp.2,Opp.3,OT,...,AST.1,STL,STL.1,BLK,BLK.1,TOV,TOV.1,PF,PF.1,seasonYear
0,1.0,2021-11-09,St. Francis Brooklyn,58.0,REG (Non-Conf),W,81.0,St. Francis Brooklyn,58.0,NaN,...,5.0,6.0,8.0,4.0,4.0,11.0,12.0,10.0,15.0,2022
1,2.0,2021-11-12,Green Bay,34.0,REG (Non-Conf),W,72.0,Green Bay,34.0,NaN,...,6.0,10.0,3.0,6.0,4.0,7.0,12.0,18.0,20.0,2022
2,3.0,2021-11-15,Providence,63.0,REG (Non-Conf),L,58.0,Providence,63.0,NaN,...,11.0,4.0,3.0,4.0,6.0,7.0,14.0,19.0,18.0,2022
3,4.0,2021-11-22,Texas A&M,58.0,REG (Non-Conf),W,69.0,Texas A&M,58.0,NaN,...,11.0,7.0,7.0,3.0,3.0,11.0,15.0,13.0,18.0,2022
4,5.0,2021-11-23,Houston,63.0,REG (Non-Conf),W,65.0,Houston,63.0,NaN,...,10.0,7.0,7.0,3.0,2.0,8.0,12.0,19.0,18.0,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,34.0,2025-03-15,Michigan State,74.0,CTOURN,W,77.0,Michigan State,74.0,NaN,...,13.0,3.0,1.0,4.0,2.0,7.0,7.0,21.0,20.0,2025
206,35.0,2025-03-16,Michigan,59.0,CTOURN,L,53.0,Michigan,59.0,NaN,...,14.0,3.0,3.0,2.0,2.0,6.0,8.0,14.0,16.0,2025
207,36.0,2025-03-20,Montana,66.0,ROUND-64,W,85.0,Montana,66.0,NaN,...,13.0,5.0,6.0,6.0,1.0,11.0,8.0,13.0,17.0,2025
208,37.0,2025-03-22,Brigham Young,91.0,ROUND-32,L,89.0,Brigham Young,91.0,NaN,...,21.0,4.0,5.0,2.0,4.0,5.0,10.0,15.0,22.0,2025
209,38.0,NaN,NaN,2622.0,NaN,27-10,2964.0,NaN,2622.0,NaN,...,468.0,190.0,176.0,87.0,121.0,342.0,357.0,611.0,685.0,2025

In [6]:
per_game_player_stats = pd.read_csv('./data/per_game_player_stats/per_game_player_stats.csv')
per_game_player_stats

,Rk,Player,Pos,G,GS,MP,FG,FGA,FG%,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,seasonYear
0,1,Chucky Hepburn,G,35,35,32.1,4.3,11.5,0.377,1.9,...,2.4,2.8,2.8,1.5,0.1,1.5,2.1,12.2,NaN,2023
1,2,Steven Crowl,F,35,35,30.6,4.9,9.7,0.510,0.8,...,5.4,6.9,2.5,0.3,0.5,1.6,2.1,12.1,NaN,2023
2,3,Connor Essegian,G,35,19,27.4,3.8,9.4,0.404,2.0,...,3.1,3.7,0.7,0.5,0.0,1.0,1.7,11.7,NaN,2023
3,4,Tyler Wahl,F,32,32,31.5,4.2,9.9,0.423,0.3,...,4.7,6.3,2.5,1.2,0.4,2.2,2.6,11.3,NaN,2023
4,5,Max Klesmit,G,33,33,32.1,2.8,6.5,0.423,1.4,...,2.3,2.7,1.4,1.2,0.2,1.0,2.4,8.4,NaN,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,12,Isaac Lindsey,G,16,0,3.7,0.3,0.8,0.308,0.1,...,0.3,0.4,0.2,0.1,0.1,0.2,0.6,0.6,NaN,2024
95,13,Chris Hodges,F,11,0,1.9,0.0,0.4,0.000,0.0,...,0.2,0.5,0.2,0.0,0.3,0.0,0.0,0.1,NaN,2024
96,14,Isaac Gard,G,6,0,1.0,0.0,0.2,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,NaN,2024
97,15,Luke Haertle,G,11,0,1.0,0.0,0.1,0.000,0.0,...,0.2,0.2,0.0,0.0,0.0,0.1,0.0,0.0,NaN,2024
98,16,Team Totals,NaN,36,36,202.1,26.4,57.4,0.461,7.1,...,23.9,34.0,12.7,6.2,1.6,9.9,16.5,74.7,NaN,2024

In [7]:
per_game_team_stats = pd.read_csv('./data/per_game_team_stats/per_game_team_stats.csv')
per_game_team_stats

,About,G,MP,FG,FGA,FG%,2P,2PA,2P%,3P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,seasonYear
0,Team,35.0,40.9,23.7,57.3,.414,15.9,34.2,.463,7.9,...,7.9,23.8,31.7,11.6,5.9,1.5,8.6,15.8,65.3,2023
1,Rank,NaN,NaN,308th,214th,322nd,333rd,253rd,332nd,118th,...,324th,263rd,322nd,303rd,236th,358th,362nd,273rd,331st,2023
2,Team,33.0,40.0,24.7,58.5,.422,18.2,37.4,.487,6.5,...,9.3,25.7,35.0,11.1,5.3,2.9,8.7,16.8,69.9,2022
3,Rank,NaN,NaN,248th,137th,279th,164th,143rd,247th,268th,...,220th,139th,191st,314th,301st,206th,357th,173rd,208th,2022
4,Team,31.0,40.2,23.5,55.4,.425,14.9,30.8,.483,8.7,...,8.1,25.8,33.9,12.0,4.5,3.7,10.0,15.4,67.2,2020
5,Rank,NaN,NaN,297th,284th,244th,338th,335th,245th,47th,...,299th,154th,258th,258th,349th,106th,349th,316th,286th,2020
6,Team,31.0,40.3,24.7,58.3,.425,16.1,34.5,.466,8.7,...,8.2,25.4,33.6,13.4,5.6,4.0,9.0,16.1,69.9,2021
7,Rank,NaN,NaN,226th,160th,254th,293rd,244th,298th,53rd,...,277th,185th,257th,160th,256th,66th,347th,262nd,209th,2021
8,Team,37.0,40.1,26.8,59.0,.454,16.9,30.6,.552,9.9,...,9.4,27.1,36.5,14.5,5.1,2.4,9.6,16.5,80.1,2025
9,Rank,NaN,NaN,122nd,146th,142nd,280th,341st,49th,27th,...,273rd,33rd,114th,109th,339th,317th,347th,206th,36th,2025
10,Team,36.0,40.4,26.4,57.4,.461,19.3,37.0,.522,7.1,...,10.1,23.9,34.0,12.7,6.2,1.6,9.9,16.5,74.7,2024
11,Rank,NaN,NaN,150th,251st,87th,134th,163rd,118th,219th,...,195th,280th,261st,220th,210th,359th,327th,208th,147th,2024