In [2]:
print('hello world')

hello world

In [3]:
import pandas as pd
dfs = pd.read_html('https://www.sports-reference.com/cbb/schools/wisconsin/men/2021.html')

In [4]:
len(dfs)

9

In [29]:
df5 = dfs[5] # per game stats
df5.head()

,Rk,Player,Pos,G,GS,MP,FG,FGA,FG%,3P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards
0,1.0,D'Mitrik Trice,G,31,31,33.3,4.6,11.3,0.410,2.0,...,0.1,3.3,3.4,4.0,0.8,0.0,1.8,1.6,13.9,NaN
1,2.0,Micah Potter,F,31,20,22.2,4.5,9.0,0.504,1.3,...,1.8,4.1,5.9,1.4,0.5,0.7,1.4,2.0,12.5,NaN
2,3.0,Brad Davison,G,31,31,31.0,2.9,8.5,0.345,2.0,...,0.3,3.2,3.5,2.4,1.1,0.0,0.9,2.3,10.0,NaN
3,4.0,Aleem Ford,F,31,31,26.4,3.2,7.9,0.406,1.5,...,0.8,3.4,4.2,1.1,0.6,0.5,0.9,2.0,8.7,NaN
4,5.0,Nate Reuvers,F,31,24,21.0,3.2,7.7,0.420,0.6,...,1.0,2.3,3.3,0.7,0.3,1.3,1.0,2.2,8.3,NaN

In [28]:
df0 = dfs[0] # about the players
df0.head()

,Player,#,Class,Pos,Height,Weight,Hometown,High School,RSCI Top 100,Summary
0,D'Mitrik Trice,0,SR,G,6-0,184,"Huber Heights, OH",IMG Academy,NaN,"13.9 Pts, 3.4 Reb, 4.0 Ast"
1,Micah Potter,11,SR,F,6-10,248,"Mentor, OH",Mentor High School,NaN,"12.5 Pts, 5.9 Reb, 1.4 Ast"
2,Brad Davison,34,SR,G,6-4,202,"Maple Grove, MN",Maple Grove Senior High School,NaN,"10.0 Pts, 3.5 Reb, 2.4 Ast"
3,Aleem Ford,2,SR,F,6-8,217,"Lawrenceville, GA",IMG Academy,NaN,"8.7 Pts, 4.2 Reb, 1.1 Ast"
4,Nate Reuvers,35,SR,F,6-11,235,"Lakeville, MN",Lakeville North High School,68 (2017),"8.3 Pts, 3.3 Reb, 0.7 Ast"

In [ ]:
def getURL(year):
    import pandas as pd
    dfs = pd.read_html(f'https://www.sports-reference.com/cbb/schools/wisconsin/men/{year}.html')
    per_game_player_stats = dfs[5]
    about_players = dfs[0]
    per_game_team_stats = dfs[1]
    for col in per_game_team_stats.columns:
        if "Unnamed" in col:
            per_game_team_stats = per_game_team_stats.rename(columns={col: "About"})
    each_game = pd.read_html(f'https://www.sports-reference.com/cbb/schools/wisconsin/men/{year}-gamelogs.html')[0]
    each_game.columns = pd.MultiIndex.from_tuples(
        [('About' if 'Unnamed' in level_0 else level_0, level_1) 
            for level_0, level_1 in each_game.columns],
                names=each_game.columns.names
        )
    # level0_cols = ['About', 'Score', 'Opponent']
    keep_cols = ['Gtm', 'Date', 'Opp', 'Type','Rslt','Tm','Opp','OT','FG','FGA','FG%','3P','3PA','3P%','2P','2PA','2P%','eFG%','FT','FTA','FT%','ORB','DRB','TRB','AST','STL','BLK','TOV','PF']
    each_game.columns = each_game.columns.droplevel(0)
    each_game = each_game[keep_cols]
    return [about_players, per_game_team_stats, per_game_player_stats, each_game]

In [22]:
df1 = dfs[1] # per game team and opponent stats
df1.columns

Index(['Unnamed: 0', 'G', 'MP', 'FG', 'FGA', 'FG%', '2P', '2PA', '2P%', '3P',
       '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [9]:
game_log_df = pd.read_html(f'https://www.sports-reference.com/cbb/schools/wisconsin/men/2022-gamelogs.html')

In [33]:
each_game = game_log_df[0] # about each game
each_game.columns = pd.MultiIndex.from_tuples(
    [('About' if 'Unnamed' in level_0 else level_0, level_1) 
        for level_0, level_1 in each_game.columns],
            names=each_game.columns.names
    )
level0_cols = ['About', 'Score', 'Opponent']
each_game.head()['About']['Rk']

0    1
1    2
2    3
3    4
4    5
Name: Rk, dtype: object

In [39]:
import os
import pandas as pd

# Define the base directory
base_dir = "data"
os.makedirs(base_dir, exist_ok=True)  # Ensure base directory exists

# Define the range of years
years = range(2020, 2025)  # 2020 to 2025 inclusive

# Process each year
for year in years:
    df1, df2, df3, df4 = getURL(year)

    # Define CSV file paths with year in filename
    file_names = [
        f"about_players_{year}.csv",
        f"per_game_team_stats_{year}.csv",
        f"per_game_player_stats{year}.csv",
        f"each_game_stats_{year}.csv"
    ]
    
    dataframes = [df1, df2, df3, df4]

    # Save each dataframe to CSV
    for df, file_name in zip(dataframes, file_names):
        csv_path = os.path.join(base_dir, file_name)
        df.to_csv(csv_path, index=False)
        print(f"Data saved to {csv_path}")

TypeError: list indices must be integers or slices, not list