In [1]:
print('hello world')

hello world

In [1]:
import pandas as pd
dfs = pd.read_html('https://www.sports-reference.com/cbb/schools/wisconsin/men/2021.html')

In [2]:
len(dfs)

9

In [18]:
dfs[5] # per game stats

,Rk,Player,Pos,G,GS,MP,FG,FGA,FG%,3P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards
0,1.0,D'Mitrik Trice,G,31,31,33.3,4.6,11.3,0.410,2.0,...,0.1,3.3,3.4,4.0,0.8,0.0,1.8,1.6,13.9,NaN
1,2.0,Micah Potter,F,31,20,22.2,4.5,9.0,0.504,1.3,...,1.8,4.1,5.9,1.4,0.5,0.7,1.4,2.0,12.5,NaN
2,3.0,Brad Davison,G,31,31,31.0,2.9,8.5,0.345,2.0,...,0.3,3.2,3.5,2.4,1.1,0.0,0.9,2.3,10.0,NaN
3,4.0,Aleem Ford,F,31,31,26.4,3.2,7.9,0.406,1.5,...,0.8,3.4,4.2,1.1,0.6,0.5,0.9,2.0,8.7,NaN
4,5.0,Nate Reuvers,F,31,24,21.0,3.2,7.7,0.420,0.6,...,1.0,2.3,3.3,0.7,0.3,1.3,1.0,2.2,8.3,NaN
5,6.0,Johnny Davis,G,31,0,24.3,2.8,6.3,0.441,0.5,...,1.1,3.0,4.1,1.1,1.1,0.6,1.1,2.1,7.0,NaN
6,7.0,Tyler Wahl,F,31,18,24.7,1.9,4.3,0.436,0.3,...,1.1,3.2,4.3,1.4,1.0,0.7,0.9,2.2,5.2,NaN
7,8.0,Trevor Anderson,G,29,0,14.2,1.1,2.1,0.532,0.4,...,0.3,1.1,1.4,1.2,0.2,0.0,0.4,0.8,3.1,NaN
8,9.0,Ben Carlson,F,7,0,9.1,0.9,1.6,0.545,0.1,...,0.1,0.7,0.9,0.6,0.1,0.4,0.1,1.4,2.9,NaN
9,10.0,Steven Crowl,F,12,0,3.3,0.3,0.7,0.500,0.0,...,0.3,0.4,0.8,0.2,0.0,0.1,0.3,0.8,0.7,NaN
10,11.0,Jordan Davis,G,13,0,1.5,0.2,0.5,0.500,0.2,...,0.0,0.1,0.1,0.0,0.0,0.0,0.1,0.0,0.6,NaN
11,12.0,Joe Hedstrom,C,9,0,1.7,0.1,0.4,0.250,0.1,...,0.2,0.1,0.3,0.0,0.0,0.0,0.0,0.4,0.4,NaN
12,13.0,Carter Gilmore,F,9,0,1.9,0.1,0.6,0.200,0.0,...,0.0,0.3,0.3,0.0,0.0,0.0,0.0,0.2,0.2,NaN
13,14.0,Carter Higginbottom,G,9,0,1.1,0.0,0.4,0.000,0.0,...,0.0,0.0,0.0,0.1,0.1,0.0,0.2,0.1,0.0,NaN
14,15.0,Justin Taphorn,G,6,0,1.3,0.0,0.2,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,NaN
15,16.0,Walt McGrory,G,1,0,1.0,0.0,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN
16,NaN,Team Totals,NaN,31,31,201.6,24.7,58.3,0.425,8.7,...,8.2,25.4,33.6,13.4,5.6,4.0,9.0,16.1,69.9,NaN

In [15]:
dfs[0] # about the players

,Player,#,Class,Pos,Height,Weight,Hometown,High School,RSCI Top 100,Summary
0,D'Mitrik Trice,0,SR,G,6-0,184,"Huber Heights, OH",IMG Academy,NaN,"13.9 Pts, 3.4 Reb, 4.0 Ast"
1,Micah Potter,11,SR,F,6-10,248,"Mentor, OH",Mentor High School,NaN,"12.5 Pts, 5.9 Reb, 1.4 Ast"
2,Brad Davison,34,SR,G,6-4,202,"Maple Grove, MN",Maple Grove Senior High School,NaN,"10.0 Pts, 3.5 Reb, 2.4 Ast"
3,Aleem Ford,2,SR,F,6-8,217,"Lawrenceville, GA",IMG Academy,NaN,"8.7 Pts, 4.2 Reb, 1.1 Ast"
4,Nate Reuvers,35,SR,F,6-11,235,"Lakeville, MN",Lakeville North High School,68 (2017),"8.3 Pts, 3.3 Reb, 0.7 Ast"
5,Johnny Davis,1,FR,G,6-5,196,"La Crosse, WI",La Crosse Central HS,NaN,"7.0 Pts, 4.1 Reb, 1.1 Ast"
6,Tyler Wahl,5,SO,F,6-9,220,"Lakeville, MN",North HS,NaN,"5.2 Pts, 4.3 Reb, 1.4 Ast"
7,Trevor Anderson,21,SR,G,6-3,195,"Stevens Point, WI",Stevens Point High School,NaN,"3.1 Pts, 1.4 Reb, 1.2 Ast"
8,Ben Carlson,20,FR,F,6-9,218,"Woodbury, MN",East Ridge HS,NaN,"2.9 Pts, 0.9 Reb, 0.6 Ast"
9,Steven Crowl,22,FR,F,7-0,217,"Eagan, MN",Eastview HS,NaN,"0.7 Pts, 0.8 Reb, 0.2 Ast"
10,Jordan Davis,24,FR,G,6-4,202,"La Crosse, WI",La Crosse Central HS,NaN,"0.6 Pts, 0.1 Reb, 0.0 Ast"
11,Joe Hedstrom,32,SO,C,7-0,247,"Hopkins, MN",Hopkins HS,NaN,"0.4 Pts, 0.3 Reb, 0.0 Ast"
12,Carter Gilmore,14,FR,F,6-7,215,"Hartland, WI",Arrowhead HS,NaN,"0.2 Pts, 0.3 Reb, 0.0 Ast"
13,Carter Higginbottom,4,SO,G,6-0,188,"Chicago, IL",St. Ignatius HS,NaN,"0.0 Pts, 0.0 Reb, 0.1 Ast"
14,Walt McGrory,3,SR,G,6-3,205,"Minneapolis, MN",Edina High School,NaN,"0.0 Pts, 0.0 Reb, 0.0 Ast"
15,Justin Taphorn,13,FR,G,6-5,198,"Pekin, IL",Pekin HS,NaN,"0.0 Pts, 0.0 Reb, 0.0 Ast"

In [ ]:
def getURL(year):
    import pandas as pd
    dfs = pd.read_html(f'https://www.sports-reference.com/cbb/schools/wisconsin/men/{year}.html')
    total_df = dfs[7]
    game_log_df = pd.read_html(f'https://www.sports-reference.com/cbb/schools/wisconsin/men/{year}-gamelogs.html')

In [14]:
dfs[1] # per game team and opponent stats

,Unnamed: 0,G,MP,FG,FGA,FG%,2P,2PA,2P%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Team,31.0,40.3,24.7,58.3,.425,16.1,34.5,.466,8.7,...,.768,8.2,25.4,33.6,13.4,5.6,4.0,9.0,16.1,69.9
1,Rank,NaN,NaN,226th,160th,254th,293rd,244th,298th,53rd,...,29th,277th,185th,257th,160th,256th,66th,347th,262nd,209th
2,Opponent,31.0,40.3,23.5,55.7,.422,17.3,37.0,.466,6.3,...,.715,8.4,26.6,35.0,12.4,4.4,3.7,11.5,16.2,64.6
3,Rank,NaN,NaN,73rd,85th,119th,124th,199th,73rd,57th,...,215th,60th,263rd,176th,188th,4th,287th,42nd,84th,42nd

In [19]:
game_log_df = pd.read_html(f'https://www.sports-reference.com/cbb/schools/wisconsin/men/2022-gamelogs.html')

In [23]:
game_log_df[0] # about each game

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                   Rk                Gtm               Date
0                   1                  1         2021-11-09
1                   2                  2         2021-11-12
2                   3                  3         2021-11-15
3                   4                  4         2021-11-22
4                   5                  5         2021-11-23
5                   6                  6         2021-11-24
6                   7                  7         2021-12-01
7                   8                  8         2021-12-04
8                   9                  9         2021-12-08
9                  10                 10         2021-12-11
10                 11                 11         2021-12-15
11                 12                 12         2021-12-29
12                 13                 13         2022-01-03
13                 14                 14         2022-01-06
14                 15                 15         2022-01-09
15                 16                 16         2022-01-13
16                 17                 17         2022-01-18
17                 18                 18         2022-01-21
18                 19                 19         2022-01-27
19                 20                 20         2022-01-30
20                 21                 21         2022-02-02
21                 22                 22         2022-02-05
22                 23                 23         2022-02-08
23                 24                 24         2022-02-12
24                 25                 25         2022-02-15
25                 26                 26         2022-02-20
26                 27                 27         2022-02-23
27                 28                 28         2022-02-26
28                 29                 29         2022-03-01
29                 30                 30         2022-03-06
30                 Rk                Gtm               Date
31                 31                 31         2022-03-11
32                 Rk                Gtm               Date
33                 32                 32         2022-03-18
34                 33                 33         2022-03-20
35                NaN                NaN                NaN

   Unnamed: 3_level_0    Unnamed: 4_level_0 Unnamed: 5_level_0 Score        \
   Unnamed: 3_level_1                   Opp               Type  Rslt    Tm
0                 NaN  St. Francis Brooklyn     REG (Non-Conf)     W    81
1                 NaN             Green Bay     REG (Non-Conf)     W    72
2                 NaN            Providence     REG (Non-Conf)     L    58
3                   N             Texas A&M     REG (Non-Conf)     W    69
4                   N               Houston     REG (Non-Conf)     W    65
5                   N       St. Mary's (CA)     REG (Non-Conf)     W    61
6                   @          Georgia Tech     REG (Non-Conf)     W    70
7                 NaN             Marquette     REG (Non-Conf)     W    89
8                 NaN               Indiana         REG (Conf)     W    64
9                   @            Ohio State         REG (Conf)     L    55
10                NaN        Nicholls State     REG (Non-Conf)     W    71
11                NaN        Illinois State     REG (Non-Conf)     W    89
12                  @                Purdue         REG (Conf)     W    74
13                NaN                  Iowa         REG (Conf)     W    87
14                  @              Maryland         REG (Conf)     W    70
15                NaN            Ohio State         REG (Conf)     W    78
16                  @          Northwestern         REG (Conf)     W    82
17                NaN        Michigan State         REG (Conf)     L    74
18                  @              Nebraska         REG (Conf)     W    73
19                NaN             Minnesota         REG (Conf)     W    66
20                  @              Illinois         REG (Conf)     L    67
21                NaN            Penn State         REG (Conf)     W    51
22                  @        Michigan State         REG (Conf)     W    70
23                NaN               Rutgers         REG (Conf)     L    65
24                  @               Indiana         REG (Conf)     W    74
25                NaN              Michigan         REG (Conf)     W    77
26                  @             Minnesota         REG (Conf)     W    68
27                  @               Rutgers         REG (Conf)     W    66
28                NaN                Purdue         REG (Conf)     W    70
29                NaN              Nebraska         REG (Conf)     L    73
30                NaN                   Opp               Type  Rslt    Tm
31                  N        Michigan State             CTOURN     L    63
32                NaN                   Opp               Type  Rslt    Tm
33                  N               Colgate           ROUND-64     W    67
34                  N            Iowa State           ROUND-32     L    49
35                NaN                   NaN                NaN  25-8  2308

               ... Opponent
     Opp   OT  ...      FTA   FT%  ORB  DRB   TRB  AST  STL  BLK  TOV   PF
0     58  NaN  ...        4  .750    5   21    26    5    8    4   12   15
1     34  NaN  ...       15  .467    7   22    29    6    3    4   12   20
2     63  NaN  ...       19  .579   11   31    42   11    3    6   14   18
3     58  NaN  ...       14  .714    5   21    26   11    7    3   15   18
4     63  NaN  ...       15  .533    7   25    32   10    7    2   12   18
5     55  NaN  ...       12  .750    7   22    29    9    3    5   15   21
6     66  NaN  ...       20  .800    9   25    34    7    5    3    9   20
7     76  NaN  ...       18  .722    6   24    30   13    4    3   12   20
8     59  NaN  ...       13  .462   12   27    39   14    2    4    9   19
9     73  NaN  ...       13  .692    7   40    47   15    4    4   14   14
10    68  NaN  ...        8  .375   10   26    36    7    3    5   12   24
11    85  NaN  ...       22  .727    8   24    32   13    4    4    8   28
12    69  NaN  ...       24  .625   10   24    34   19    2    0   12   17
13    78  NaN  ...       19  .579    6   19    25   19    4    7    8   22
14    69  NaN  ...       15  .800    2   27    29   10    4    3   10   19
15    68  NaN  ...       10  .500    6   24    30    7    3    3   11   20
16    76  NaN  ...        8  .375   10   21    31   19    6    4    8   18
17    86  NaN  ...       28  .786   11   28    39   14    4    4   13   19
18    65  NaN  ...       17  .824    1   31    32   10    5    2   13   16
19    60  NaN  ...        9  .889    4   25    29    4    4    2   11   17
20    80  NaN  ...       18  .500    7   28    35   21    5    2    6   14
21    49  NaN  ...        5  .800    6   27    33    7    7    3   10   14
22    62  NaN  ...       18  .833    5   23    28   15    5    1   12   20
23    73  NaN  ...       18  .889    4   25    29   11   10    3   13   20
24    69  NaN  ...       18  .778    7   22    29   14    3    4   12   25
25    63  NaN  ...       13  .692   12   24    36   11    5    2   11   19
26    67  NaN  ...       19  .684    3   15    18   18    4    3    5   20
27    61  NaN  ...       15  .600    4   27    31    6    6    5   12   17
28    67  NaN  ...       20  .550    8   26    34   10    4    1   10   16
29    74  NaN  ...       14  .786    5   19    24    8    6    2   10   19
30   Opp   OT  ...      FTA   FT%  ORB  DRB   TRB  AST  STL  BLK  TOV   PF
31    69  NaN  ...       24  .750    5   32    37   11    4    7    7   19
32   Opp   OT  ...      FTA   FT%  ORB  DRB   TRB  AST  STL  BLK  TOV   PF
33    60  NaN  ...        7  .857    9   24    33   14    2    1   10   13
34    54  NaN  ...       16  .688    7   25    32   12    9    3   13   25
35  2177  NaN  ...      508  .683  226  824  1050  381  155  109  361  624

[36 rows x 52 columns]